.App {
  /* min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; */
}

.adjustWallet{
  height: 30px !important;
  align-self: center !important;
  text-align: center !important;
  align-items: center !important;
}
.wallet-adapter-button{
  background-color: transparent !important;
  height: initial !important;
  padding: 0px !important;
}